{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}} {{!-- Create a button in index.handlebars
that will submit the user input into the database. --}}
<div class="container">
    <div class="row" id="jumbotron">
        <img src="http://pngimg.com/uploads/burger_sandwich/burger_sandwich_PNG4114.png" alt="burger">
        <h1 class="center-align">Eat-Da-Burger</h1>
    </div>

    <div class="row">
        <div class="col s6">
            {{#each burgers}}
            <div class="row" id="burgerID{{this.id}}">
                <div class="bname col s6" id="label{{this.id}}">
                {{this.burger_name}}
                </div>
                <div class="col s5">
                    <button class="devour waves-effect waves-light btn" onClick="devourButton({{this.id}})" id={{this.id}} type="submit">Devour It!!!!</button>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col s6" id="devouredBurger" class="center-align">
        </div>
    </div>
    <div class="row">
        <h1 class="center-align">Add a Burger</h1>
        <form action="/" method="POST">
            <textarea type="text" name="burger" class="center-align materialize-textarea"></textarea>
            <div id="buttonHolder">
                <button class="btn waves-effect waves-light" type="submit" name="action" class="center-align">Submit
                                 <i class="material-icons right"></i>
                </button>
            </div>
        </form>
    </div>
</div>

{{!--
<div class="container">

    <div class="row">
        <div class="col-md-4 col-md-8">
            {{#each notEatenBurgers}}
            <form>
                <div class="not-eaten text-center">
                    {{this.id}}. {{this.burger_name}}
                </div>
                <button class="burger-button btn-default btn-md devour" type="submit">Devour It!!!!</button>
            </form>
            {{/each}}

        </div>
        <div class="row">

            </form>
        </div>
    </div>
</div>
</div> --}}